Import required packages

In [1]:
import pandas as pd
import numpy as np
import operator as op
import datetime

Set options for pandas' display options

In [2]:
pd.set_option('display.width',5)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 1000)

Import CSV file

In [3]:
temp = pd.read_csv('TEMP.csv')
print(temp.info())
print(temp)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574223 entries, 0 to 574222
Data columns (total 4 columns):
Date                               574223 non-null object
Monthly AverageTemp                541645 non-null float64
Monthly AverageTemp Uncertainty    542384 non-null float64
Country                            574223 non-null object
dtypes: float64(2), object(2)
memory usage: 17.5+ MB
None
              Date  Monthly AverageTemp  Monthly AverageTemp Uncertainty      Country
0       1838-04-01               13.008                            2.586  Afghanistan
1       1838-05-01                  NaN                              NaN  Afghanistan
2       1838-06-01               23.950                            2.510  Afghanistan
3       1838-07-01               26.877                            2.883  Afghanistan
4       1838-08-01               24.938                            2.992  Afghanistan
...            ...                  ...                              ...          ...
574218    5/1/2013               19.059                            1.022     Zimbabwe
574219    6/1/2013               17.613                            0.473     Zimbabwe
574220    7/1/2013               17.000                            0.453     Zimbabwe
574221    8/1/2013               19.759                            0.717     Zimbabwe
574222    9/1/2013                  NaN                              NaN     Zimbabwe

[574223 rows x 4 columns]

Convert date to datetime field

In [5]:
temp['Date'] = pd.to_datetime(temp['Date'])
print(temp.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574223 entries, 0 to 574222
Data columns (total 4 columns):
Date                               574223 non-null datetime64[ns]
Monthly AverageTemp                541645 non-null float64
Monthly AverageTemp Uncertainty    542384 non-null float64
Country                            574223 non-null object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 17.5+ MB
None

Filter out dates since 1900

In [6]:
date_object = datetime.datetime(1900,1,1)
temp1900 = temp.loc[(temp.Date >= date_object)]

NameError: name 'UStemp' is not defined